<!DOCTYPE html>
<html>
  <head>
    <title>Gui Hacker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <canvas class='hacker-3d-shiz'></canvas>
    <canvas class='bars-and-stuff'></canvas>
    <div class="output-console"></div>
    <script src="/javascripts/hack.js"></script>
  </body>
</html>
